* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: teal;
}

.memory-game {
    width: 700px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 4px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 7px;
    background: #eacb48;
    backface-visibility: hidden;
}

.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 7px;
    background: #00a099;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/* הגדרות רספונסיביות עבור .memory-game, .img, ו-#main */
@media (max-width: 600px) {
    .game-wrap {
        top: calc(50% + 7vh);
    }
}

/* רספונסיביות - התאמת המשחק למסכים ברוחב נמוך יותר */
@media (max-width: 400px) {
    .game-wrap {
        top: calc(50% + 5vh);
    }
}

